.cnb-hero {
    padding-top: 60px;
    padding-bottom: 80px;
    background-position: bottom center;
    background-size: 1156px;
    background-repeat: no-repeat;
}

.cnb-hero_title {
    --font-size: 4.4rem;
    font-size: calc(var(--font-heading-scale) * var(--font-size));
    --font-heading-weight: 900;
    text-transform: uppercase;
    line-height: 1;
    margin: 0 0 54px;
}

.cnb-hero_description {
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: bold;
    max-width: 756px;
    margin: 0 auto 5.5rem;
}

@media only screen and (min-width: 990px) {
    .cnb-hero {
        padding-top: 100px;
        padding-bottom: 150px;
    }

    .cnb-hero_title {
        --font-size: 8.5rem;
    }
}